@model Buổi_6_ASP_Validation.Models.EmployeeInfo

@{
    ViewData["Title"] = "Demo Validation Buổi 6";
}

<div class="text-center">
    <h1 class="display-4">Nhập Thông Tin</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Validation" method="post">
                <div class="form-group">
                    <label asp-for="FullName">Full Name</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age">Age</label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
