@model Buổi_12_Lab_07.Models.Supplier

@{
    ViewData["Title"] = "Create Supplier";
}

<h1>@ViewData["Title"]</h1>

<h4>Supplier</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Logo" class="control-label"></label>
        <input type="file" name="Logo" class="form-control" />
        <span asp-validation-for="Logo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
